h1{
color:blue;

}


nav{
    font-size: 30px;
}


nav li{
    display: inline;
    margin: 0 0 0 27%;

}

.header {
color: blue;


}





body {


background-color: #00BFFF;
}   
.stro {

width: 50%;
border: solid 10px blue;
margin-left: 25%;
}

header {

background-color: white;
}
